[data-bs-theme="dark"] {
  background-color: #1e1e1e !important;
  color: #f1f1f1 !important;
}

[data-bs-theme="dark"] .navbar {
  background-color: #1f1f1f !important;
}

[data-bs-theme="dark"] .card {
  background-color: #1e1e1e !important;
  color: #f1f1f1 !important;
}

[data-bs-theme="dark"] a,
[data-bs-theme="dark"] .btn-link {
  color: #66b2ff !important;
}

[data-bs-theme="dark"] a:hover,
[data-bs-theme="dark"] .btn-link:hover {
  color: #3399ff !important;
  text-decoration: underline;
}

/* Hero / caixas secundárias */
[data-bs-theme="dark"] .bg-body-secondary,
[data-bs-theme="dark"] .bg-body-tertiary {
  background-color: #2c2c2c !important;
  color: #e0e0e0 !important;
}

[data-bs-theme="dark"] .btn-primary {
  background-color: #0d6efd !important; 
  color: #ffffff !important;            /* texto branco */
  border-color: #0a58ca !important;
}

[data-bs-theme="dark"] .btn-primary:hover {
  background-color: #0b5ed7 !important;
  border-color: #0a53be !important;
  color: #ffffff !important;
}

/* Botão outline-primary */
[data-bs-theme="dark"] .btn-outline-primary {
  color: #66b2ff !important;
  border-color: #66b2ff !important;
}

[data-bs-theme="dark"] .btn-outline-primary:hover {
  background-color: #66b2ff !important;
  color: #1e1e1e !important;
}
 [data-bs-theme="light"] .logo-site {
  filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.5));
}
