html, body { height: 100%; }


.conteudo-ajustado {
  padding-top: calc(56px + 2rem);
}
@media (max-width: 991.98px) {
  .conteudo-ajustado { padding-top: calc(66px + 2rem); }
}

.texto-secundario { color: #0d6efd; }
.pequeno { font-size: 0.875em; }
.sombra-suave { box-shadow: 0 .5rem 1rem rgba(0,0,0,.15); }
.borda-topo { border-top: 1px solid #dee2e6; }

.img1 {
  text-align: center;
}

.btn-admin-outline {
    padding: 8px 22px;
    border: 2px solid #0d6efd; 
    border-radius: 999px;      
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #0d6efd;
    background: transparent;
    transition: .25s ease;
}

.btn-admin-outline:hover {
    background: #0a64ea;
    color: white;
    box-shadow: 0 0 10px rgb(12, 99, 231);
    transform: scale(1.04);
}
